.markdownPreview h1,
.markdownPreview h2,
.markdownPreview h3,
.markdownPreview h4,
.markdownPreview h5,
.markdownPreview h6 {
  font-weight: 600;
}
.markdownPreview h1 {
  font-size: 2rem;
}
.markdownPreview h2 {
  font-size: 1.5rem;
}
.markdownPreview h3 {
  font-size: 1.3rem;
}
.markdownPreview h4 {
  font-size: 1.1rem;
}
.markdownPreview h5 {
  font-size: 0.9rem;
}
.markdownPreview h6 {
  font-size: 0.7rem;
}
.markdownPreview p {
  wthite-space: pre-wrap;
}
.markdownPreview p code {
  background-color: #ebebeb;
}
.markdownPreview p a {
  color: #0000ee;
}
.markdownPreview p a:visited {
  color: #551a8b;
}
.markdownPreview ul li {
  list-style: inside;
}
.markdownPreview ul li ul {
  margin-left: 1rem;
}
.markdownPreview ol li {
  list-style: inside;
  list-style-type: decimal;
}
.markdownPreview table {
  border: 1px solid #afadad;
}
.markdownPreview table thead {
  background-color: #ebebeb;
}
.markdownPreview table thead tr {
  border-bottom: 1px solid #afadad;
}
.markdownPreview table thead tr th {
  border-right: 1px solid #afadad;
}
.markdownPreview table thead tr th:last-child {
  border-right: none;
}
.markdownPreview tbody tr {
  border-bottom: 1px solid #afadad;
}
.markdownPreview tbody tr:last-child {
  border-bottom: none;
}
.markdownPreview tbody tr td {
  border-right: 1px solid #afadad;
}
.markdownPreview tbody tr td:last-child {
  border-right: none;
}
.markdownPreview blockquote {
  font-size: 0.95rem;
  margin: 1.4rem 0;
  border-left: 3px solid #b3bfc7;
  padding: 2px 0 2px 0.7em;
  color: #626e77;
}
